@import "tailwindcss";

:root {
     color-scheme: light dark;
}

html {
     font-family: system-ui, sans-serif;
}

body {
     background: var(--color-neutral-950);
     /* display: flex;
     flex-direction: column; */
     min-height: 100vh;
     scroll-behavior: smooth;
     padding: 10px;
}

@media (prefers-reduced-motion: reduce) {
     html {
          scroll-behavior: auto;
     }
}
