---
import Header from "@layouts/Header.astro";
import "../styles/global.css";
import Main from "@layouts/Main.astro";
import Footer from "@layouts/Footer.astro";
interface Props {
  title: string;
  description: string;
}
const { description, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(35,55,167,0.7),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <Main
      title="Portafolio de aldrox - Desarrollador web con mas de 3 años"
      description="Contrata a aldrox dev para crear tu aplicación web o móvil"
    />
    <Footer />
  </body>
</html>
