<p>
  Programador con experiencia en desarrollo de software, enfocado en soluciones
  eficientes e innovadoras. Apasionado por el aprendizaje continuo y la
  aplicación de tecnología para crear herramientas prácticas con impacto
  positivo en la sociedad. En búsqueda de desafíos profesionales que impulsen el
  crecimiento y generen valor.
</p>
