---
const date = new Date();
const year = date.getFullYear();
---

<footer class="py-20 flex flex-row items-center justify-center gap-6">
  <img
    class="rounded-full shadow-lg size-16"
    src="https://tse1.mm.bing.net/th/id/OIP.wHmdLYdYLIK6dd3RC_NnNgHaHa?rs=1&pid=ImgDetMain&o=7&rm=3"
    alt="Alejandro Yero"
  />
  <h2>Derechos reservados {year}</h2>
  <a class="px-4 py-2 font-semibold rounded-full bg-white text-black hover:bg-white/80 hover:shadow-amber-50" href="http://"
    >Contáctame</a
  >
</footer>
