<header
class="flex justify-center items-center  relative py-1 px-2 w-full rounded-4xl mt-4 mx-auto flex-wrap top-0 left-0 right-0 z-50 backdrop-blur-sm"
>
  <nav class="flex flex-row gap-x-6">
    <!-- <a class="font-semibold transition " href="#top">Inicio</a> -->
    <a class="font-semibold transition " href="#experiencia">Experiencia</a>
    <a class="font-semibold transition " href="#proyecto">Proyectos</a>
    <a class="font-semibold transition " href="#sobre-mi">Sobre mí</a>
  </nav>
  <a class=" absolute right-8 font-semibold transition px-4 py-2 bg-blue-800 text-white rounded-2xl hover:bg-blue-700" href="#contacto">Contacto</a>
</header>
